
body{
    font-family:"Montserrat";
    text-align: center;
}
h1, h2, h3, h4{
    font-family: 'Montserrat', Black;
}
h2{
    font-size: 3rem;
    line-height:1.5;
    font-weight: bold;
}
h3{
   font-size: 1.5rem;
   font-weight: bold;
}
.big-heading{
    font-size: 3.5rem;
    font-weight: bold;
    line-height:1.5 ;
}

.container-fluid {
    padding:7% 15%;
}
p{
    color:#2b2424;
    font-weight: bold;
    opacity: 0.4;
}

/* sections   */
.colored-section{
    background-color:#ff4c68 ;
    color: #fff;

}
.white-section{
    background-color: #fff;
}



/* Nav bar section */
.navbar-brand{
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;

}
.navbar{

    padding: 0 0 4.5rem;
}
.nav-item {
    padding: 0 18px;
}
.nav-link{

    font-size: 1.5rem;
    font-family: "Montserrat",Extra-light 200;
}


/* Button Download */

.download-button{
    margin:5% 3% 5% 0;
}

/* secttion title  */
#title .container-fluid{
    padding: 3% 15% 7%;
    text-align: left;
}

/* Title image */
.title-image{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}

/* sectiunea features */
#features{
    position: relative;

}
.icon{
    color:#ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #ff4c68;
}
.features-box {
    padding:0;
}


/* <!-- Testimonials --> */

#testimonials{
    background-color:#ef8172;
}
.testimonial-text{
    font-size: 3rem;
    line-height: 1.5;
}


.testimonial-image{
    width: 10%;
    border-radius: 50%;
    margin: 20px;
}
#press{
    background-color:#ef8172;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

/* Priecing */

#pricing{
    padding:100px;
}
.price-text{
    font-size: 3rem;
    line-height: 1.5;
}

.pricing-column{
    padding: 3% 2%;
}

/* cta section */

#cta{
    margin-bottom: 20px;
    padding: 7% 15%;
}
.cta-footer{
    font-family: 'Montserrat', Black;
    font-size: 3.5rem;
    font-weight: bold;
    line-height: 1.5;
}

/* Footer section  */


.social-icon{
    margin: 20px 10px;
}




/* media queris */

@media (max-width:1028px){
    #title{
        text-align: center;
    }
    .title-image {
        position: static;
        transform: rotate(0);
    }
}
